<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Password Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../css/pm.css" th:href="@{/css/pm.css}"/>
  </head>

  <body>

    
    <div class="passwordlist" th:unless="${#lists.isEmpty(allPasswords)}">
    
      <h2 th:text="#{title.list}">List of Passwords</h2>
      
      <table>
        <thead>
          <tr>
            <th th:text="#{password.dateCreated}">Date Created</th>
            <th th:text="#{password.title}">Title</th>
            <th th:text="#{password.url}">URL</th>
            <th th:text="#{password.username}">User Name</th>
            <th th:text="#{password.password}">Password</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pw : ${allPasswords}">
            <td th:text="${{pw.dateCreated}}">13/01/2011</td>
            <td th:text="${{pw.title}}">Amazon</td>
            <td th:text="${{pw.url}}">www.amazon.com</td>
            <td th:text="${{pw.username}}">user12345</td>
            <td th:text="${{pw.password}}">letmein</td>
          </tr>
        </tbody>
      </table>
      
    </div>


    <div>
    
      <h2 th:text="#{title.new}">Add a New Password</h2>

      <form action="#" th:action="@{/passwordmanager}" th:object="${password}" method="post">
    
        <fieldset>
          
          <legend th:text="#{password.data}">Password Data</legend>

          <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>

          
          <div>
            <label for="dateCreated">
              <span th:text="#{password.dateCreated}">Date Created</span>
              (<span th:text="#{date.format}">YYYY/MM/DD</span>)
            </label>
            <input type="text" th:field="*{dateCreated}" th:errorclass="fieldError" />
          </div>
          <div>
            <label for="title">
              <span th:text="#{password.title}">Title</span>
            </label>
            <input type="text" th:field="*{title}" th:errorclass="fieldError" />
          </div>
          <div>
            <label for="url">
              <span th:text="#{password.url}">URL</span>
            </label>
            <input type="text" th:field="*{url}" th:errorclass="fieldError" />
          </div>
          <div>
            <label for="username">
              <span th:text="#{password.username}">User Name</span>
            </label>
            <input type="text" th:field="*{username}" th:errorclass="fieldError" />
          </div>
          <div>
            <label for="password">
              <span th:text="#{password.password}">Password</span>
            </label>
            <input type="text" th:field="*{password}" th:errorclass="fieldError" />
          </div>

          <div class="submit">
            <button type="submit" name="save" th:text="#{password.create}">Add Password</button>    
          </div>
        
        </fieldset>
          
      </form>
        
    </div>

  </body>
</html>